<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE]>           <html class="no-js ie-shit"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>

  <meta property="og:image" content="images/social.png"/>
  <meta property="og:title" content="Fixtr"/>
  <meta property="og:url" content="http://fixtr.qib.se/"/>
  <meta property="og:site_name" content="Fixtr"/>
  <meta property="og:description" content="Game schedules for Bayern and Chelsea."/>

  <meta name="description" content="Fixtr - Game Schedule for Bayern and Chelsea">
  <meta name="keywords" content="Bayern München, Chelsea, Game Schedule, Fixture, Premier League, Bundesliga, Johnie Hjelm">
  <meta name="author" content="Johnie Hjelm">

  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />

  <script type="text/javascript" src="//use.typekit.net/wja3aze.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load("jquery", "1");</script>
  <script src="js/vendor/angular/angular.js"></script>

  <link rel="stylesheet" href="master.css">

  <title>Fixtr - Game schedules for Bayern and Chelsea</title>
  <meta charset="UTF-8">
</head>
<body ng-app="fixtr">

  <div class="site" ng-controller="MainController" ng-class="{'on-left': onLeft, 'on-right': onRight}">
    <div class="team-wrap team-wrap--bayern">
      <a href class="expand-btn expand-btn__left" ng-click="onLeft = true; onRight = false;">Left</a>
      <header class="team-header" role="banner">

        <a href class="tab-btn tab-btn__left tab-btn--bayern" ng-click="bayernTab('js/templates/bayern-games.html')">Games</a>

        <h1 class="team-name team-name--bayern">
          {{ teamBayern.team }}
        </h1>

        <a href class="tab-btn tab-btn__right tab-btn--bayern" ng-click="bayernTab('js/templates/bayern-squad.html')">Squad</a>

      </header>

      <div class="bayern" ng-include="currentBayernTab"></div>

    </div>
    <!-- /.team-wrap team-wrap-bayern --> 

    <div class="team-wrap team-wrap--chelsea">
      <a href class="expand-btn expand-btn__right" ng-click="onLeft = false; onRight = true;">Right</a>
      <header class="team-header" role="banner">

        <a href class="tab-btn tab-btn__left tab-btn--chelsea" ng-click="chelseaTab('js/templates/chelsea-games.html')">Games</a>

        <h1 class="team-name team-name--chelsea">
          {{ teamChelsea.team }}
        </h1>
        
        <a href class="tab-btn tab-btn__right tab-btn--chelsea" ng-click="chelseaTab('js/templates/chelsea-squad.html')">Squad</a>

      </header>

      <div class="chelsea" ng-include="currentChelseaTab"></div>

    </div>
    <!-- /.team-wrap team-wrap-chelsea -->

  </div>

  <script src="js/vendor/lodash/dist/lodash.js"></script>  
  <script src="js/main.js"></script>  
</body>
</html>
