/*------------------------------------*    $FIXTR
\*------------------------------------*/
.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}
.text--center {
  text-align: center;
}
.font--bold {
  font-weight: 700;
}
/**
 * Variables
 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #142128;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;
  overflow: hidden;
}
@media (max-width: 990px) {
  body {
    overflow: scroll;
  }
}
.expand-btn {
  position: absolute;
  top: 1.5em;
  display: block;
  width: 0;
  height: 0;
  border: 1em solid transparent;
  text-indent: -99999px;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.expand-btn:after {
  content: '';
  display: block;
  width: 3em;
  height: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media (max-width: 990px) {
  .expand-btn {
    display: none;
  }
}
.expand-btn__left {
  right: 2em;
  border-right-color: rgba(0,0,0,0.4);
  cursor: w-resize;
}
.on-left .expand-btn__left {
  opacity: 0;
}
.expand-btn__left:after {
  cursor: w-resize;
}
.expand-btn__right {
  left: 2em;
  border-left-color: rgba(0,0,0,0.4);
  cursor: e-resize;
}
.expand-btn__right:after {
  cursor: e-resize;
}
.on-right .expand-btn__right {
  opacity: 0;
}
.team-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: scroll;
  width: 50%;
  min-height: 300px;
  padding: 2em 2em;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.team-wrap--bayern {
  background-color: #fb0037;
  left: 0;
}
.on-left .team-wrap--bayern {
  -webkit-transform: translateX(-90%);
  -moz-transform: translateX(-90%);
  -ms-transform: translateX(-90%);
  transform: translateX(-90%);
}
.on-right .team-wrap--bayern {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  width: 95%;
}
.team-wrap--chelsea {
  background-color: #083d95;
  right: 0;
}
.on-left .team-wrap--chelsea {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  width: 95%;
}
.on-right .team-wrap--chelsea {
  -webkit-transform: translateX(90%);
  -moz-transform: translateX(90%);
  -ms-transform: translateX(90%);
  transform: translateX(90%);
}
@media (max-width: 990px) {
  .team-wrap {
    position: relative;
    width: 100%;
  }
}
@media (max-width: 760px) {
  .team-wrap {
    overflow: hidden;
    padding: 1em;
  }
}
.team-header {
  display: block;
  width: 100%;
  margin-bottom: 4em;
  text-align: center;
  position: relative;
}
@media (max-width: 760px) {
  .team-header {
    margin-bottom: 2em;
  }
}
.tab-btn {
  line-height: 2.5;
  padding: 0em 1.5em;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  position: absolute;
  top: 50%;
  text-decoration: none;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 600;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-size: 14px;
}
@media (max-width: 760px) {
  .tab-btn {
    font-size: 12px;
  }
}
.tab-btn__left {
  left: 0;
}
.tab-btn__right {
  right: 0;
}
.tab-btn--bayern {
  background-color: #bc0029;
  -webkit-box-shadow: 0 1px 0 #7e001c;
  -moz-box-shadow: 0 1px 0 #7e001c;
  -ms-box-shadow: 0 1px 0 #7e001c;
  box-shadow: 0 1px 0 #7e001c;
  color: #fff;
}
.tab-btn--chelsea {
  background-color: #062e70;
  -webkit-box-shadow: 0 1px 0 #041e4b;
  -moz-box-shadow: 0 1px 0 #041e4b;
  -ms-box-shadow: 0 1px 0 #041e4b;
  box-shadow: 0 1px 0 #041e4b;
  color: #fff;
}
.team-name {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 300;
  text-indent: -99999px;
  background: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  height: 5em;
  width: 5em;
}
@media (max-width: 760px) {
  .team-name {
    width: 2.5em;
    height: 2.5em;
  }
}
.team-name--bayern {
  background-image: url("images/bayern.svg");
}
.team-name--chelsea {
  background-image: url("images/chelsea.svg");
}
.squad {
  padding-bottom: 2em;
  zoom: 1;
}
.squad:after,
.squad:before {
  content: "";
  display: table;
}
.squad:after {
  clear: both;
}
.squad-category {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2em;
}
.squad-lineup {
  display: block;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.squad-lineup li {
  display: inline-block;
  width: 33.333333%;
  padding-bottom: 22.5%;
  background: transparent url("images/tee-bayern.svg") top center no-repeat;
  background-size: 90%;
  position: relative;
  margin-bottom: 2em;
}
.on-left .squad-lineup li,
.on-right .squad-lineup li {
  width: 25%;
}
@media (max-width: 760px) {
  .squad-lineup li {
    width: 50%;
    padding-bottom: 34%;
    margin-bottom: 1em;
  }
}
.squad-lineup--chelsea li {
  background-image: url("images/tee-chelsea.svg");
}
.lineup-tee {
  position: absolute;
  top: 22%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}
.on-left .lineup-tee,
.on-right .lineup-tee {
  font-size: 1.8em;
}
.lineup-number {
  font-weight: 600;
  font-size: 2.8em;
}
.lineup-name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7em;
  padding-bottom: 10px;
}
@media (max-width: 760px) {
  .lineup-name {
    padding-bottom: 0;
    font-weight: 700;
  }
}
.games-title {
  text-transform: uppercase;
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: 600;
}
@media (max-width: 760px) {
  .games-title {
    font-size: 1.5em;
  }
}
.games-league {
  margin: 0;
  padding: 1em 0.5em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.on-left .games-league,
.on-right .games-league {
  padding: 1em;
  font-size: 22px;
  font-weight: 700;
}
@media (max-width: 760px) {
  .games-league {
    background-color: rgba(0,0,0,0.1);
  }
}
.games-table {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  border-collapse: collapse;
}
.games-table thead {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  text-align: left;
  width: 100%;
}
.games-table thead th {
  padding: 1em 0.5em;
  border: none;
  margin: 0;
  font-weight: 600;
  letter-spacing: 1px;
}
.on-left .games-table thead th,
.on-right .games-table thead th {
  padding: 1em;
  font-size: 20px;
}
.games-table tbody tr {
  border-top-width: 1px;
  border-top-style: solid;
}
.games-table tbody tr:nth-child(even) {
  background-color: #000;
}
.games-table tbody td {
  padding: 0.8em 0.5em;
  font-size: 14px;
}
.on-left .games-table tbody td,
.on-right .games-table tbody td {
  padding: 1em;
  font-size: 20px;
}
.games-table--bayern thead {
  background-color: #d5002f;
  border-top-color: #b00027;
}
.games-table--bayern tbody tr {
  border-top-color: #b00027;
}
.games-table--bayern tbody tr:nth-child(even) {
  background-color: #d5002f;
}
.games-table--chelsea thead {
  background-color: #07347f;
  border-top-color: #062b68;
}
.games-table--chelsea tbody tr {
  border-top-color: #062b68;
}
.games-table--chelsea tbody tr:nth-child(even) {
  background-color: #07347f;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block !important;
    text-align: center !important;
  }
  thead {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  thead tr {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  td {
    border: none;
    position: relative;
    padding-left: 50% !important;
  }
  td:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,0.15);
  }
  td:before {
    left: 0%;
    position: absolute;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: 600;
    height: 75%;
  }
  td:nth-of-type(1):before {
    content: "Date";
  }
  td:nth-of-type(2):before {
    content: "CEST/EST";
  }
  td:nth-of-type(3):before {
    content: "Home";
  }
  td:nth-of-type(4):before {
    content: "vs.";
  }
  td:nth-of-type(5):before {
    content: "Gone";
  }
}
